
container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

header {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
}

error {
    color: red;
    display: none; /* initially hidden */
}

/* You can style the form elements further if needed */
input[type="text"],
input[type="submit"],
back-button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


back-button {
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
}

